/**************************
RESET to ensure user agent padding and 
margin on elements do not affect layout.

Note this reset is not appropriate for
production websites.
***************************/

* {margin: 0; padding: 0;}

body {
	font-family: Arial;
	color:#333;
	background-color: #E2E2E2;
}

#page {
	width: 75%;
	margin: auto;
	background: #fff;
	padding: 20px;
}

header, footer {
	padding: 50px;
	background-color: aliceblue;
	text-align: center;
}

#container {
	background-color: beige;
	min-height: 500px;
}

div {
	background-color:#E58F3F;
	text-align: center;
	padding: 20px 0;
}

div:nth-child(even){
	background-color:#E8AF79;
}


