@media only screen and (min-width: 600px){
    body{
        font-family: 'EB Garamond', serif;
        font-style: italic;
        font-size: 40px;
        background: #F1F1F1;
        color: #0000FF;
    }

    .dropdown {
        position: relative;
        display: inline-block;
      }
      
    .dropdown-content {
        display: none;
        position: absolute;
        width: 300px;
        border: #0000FF solid 1px;
        height: 600px;
        top: 60px;
        left: 30px;
      }
      
    .dropdown:hover .dropdown-content {
        display: block;
      }
    .navigation li a{
        text-decoration: none;
    }

    .navigation li {
        list-style: none;
    }
    

    /* hamburger button  */
    .toggle-btn {
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
    
    }

    .toggle-btn span {
        width: 45px;
        height: 4px;
        background: #0000FF;
        display: block;
        margin-top: 4px;
    }

    .toggle-btn:hover .navigation{
        display: block;
    }



}