@font-face {
    font-family: "Neue Machina Regular";
    src: url("fonts/NeueMachina-Regular.woff2") format("woff2"),
        url("fonts/NeueMachina-Regular.woff") format("woff");
}

@font-face {
    font-family: "Neue Machina Light";
    src: url("fonts/NeueMachina-Light.woff2") format("woff2"),
        url("fonts/NeueMachina-Light.woff") format("woff");
}

@font-face {
    font-family: "Neue Machina Ultralight";
    src: url("fonts/NeueMachina-Ultralight.woff2") format("woff2"),
        url("fonts/NeueMachina-Ultralight.woff") format("woff");
}

@font-face {
    font-family: "Neue Machina Black";
    src: url("fonts/NeueMachina-Black.woff2") format("woff2"),
        url("fonts/NeueMachina-Black.woff") format("woff");
}

@font-face {
    font-family: "Neue Machina Ultrabold";
    src: url("fonts/NeueMachina-Ultrabold.woff2") format("woff2"),
        url("fonts/NeueMachina-Ultrabold.woff") format("woff");
}

@font-face {
    font-family: "Hatton Bold";
    src: url("fonts/Hatton-Bold.woff2") format("woff2"),
        url("fonts/Hatton-Bold.woff") format("woff");
}

@font-face {
    font-family: "Hatton Light";
    src: url("fonts/Hatton-Light.woff2") format("woff2"),
        url("fonts/Hatton-Light.woff") format("woff");
}

@font-face {
    font-family: "Hatton Medium";
    src: url("fonts/Hatton-Medium.woff2") format("woff2"),
        url("fonts/Hatton-Medium.woff") format("woff");
}

@font-face {
    font-family: "Hatton Ultrabold";
    src: url("fonts/Hatton-Ultrabold.woff2") format("woff2"),
        url("fonts/Hatton-Ultrabold.woff") format("woff");
}

@font-face {
    font-family: "Hatton Ultralight";
    src: url("fonts/Hatton-Ultralight.woff2") format("woff2"),
        url("fonts/Hatton-Ultralight.woff") format("woff");
}


body {
    color: #f1f1f1;
    font-family: "Neue Machina Regular";
    background-color: #8682ff;
}

h1 {
    font-family: "Neue Machina Ultrabold";
    font-size: 15rem;
    margin: 0em;
}

h2 {
    font-family: "Hatton Medium";
    letter-spacing: .5rem;
    line-height: 4rem;
    font-size: 3rem;
    width: 60%;
}

.writing{
    width: 120vh;
}

p {
    font-family: "Neue Machina Light";
    font-size: 3rem;
    line-height: 3rem;
}

ul {
    font-size: 3rem;
    list-style: none;
    padding: 0%;
    margin: 0%;
}

a {
    text-decoration: none;
    font-size: 3rem;
    color: #f1f1f1;
}

a :visited {
    color: #f1f1f1;
}


#title {
    padding: 2rem;
    margin: 0em;
}

#abstract {
    font-family: "Neue Machina Regular";
    margin: 300px 0px;
    padding: 4rem;
}

#abstract p {
    font-size: 3rem;
}

#one {
    margin: 300px 0px;
    padding: 3rem;
}

#two {
    margin: 400px 0px;
    padding: 3rem;

}

#three {
    margin: 300px 0px;
    padding: 3rem;

}

#three p {
    font-size: 2rem;
}

#four {
    margin: 500px 0px;
    padding: 3rem;

}

#workspace {
    margin: 300px 0px;
    padding: 3rem;
    height: 1200px;
}

#glyph {
    margin: 300px 0px;
    padding: 3rem;
    height: 800px;
}

#collect {
    margin: 300px 0px;
    padding: 3rem;
    height: 1000px;
}

#draw {
    margin: 300px 0px;
    padding: 3rem;
    height: 1200px;
}

.arrow{

}