
body{
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-size: 20px;
    background: #F1F1F1;
    color: #0000FF;
}


nav ul {
    display: flex;
    list-style: none;
    padding: 0px;
}

nav ul li{
    padding: 20px;
}

a{
    text-decoration: none;
}
li :visited{
    color: #0000FF;
}

li :hover{
    color: #FF00FF;
}

#about {
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
}

#thoughts {
    border: #0000FF solid 1px;
    height: 653px;
    width: 380px;
    font-size: 20px;
}

#thought-1{
    position: relative;
    top: 175px;
    margin-left:85px;
    width: 292px;
    font-weight: 100;
}
#thought-2{
    position: relative;
    margin-left:15px;
    top: 210px;
    width: 189px;
}

#thought-3{
    position: relative;
    margin-left: 180px;
    top: 230px;
    right:0px;
    width: 184px;
}

#myhead {
    font-style: italic;
    font-size: 71.66px;
    padding: 0;
    margin-left: 40px;
}

#myhead p{
    font-size: 20;
}

#myhead h1{
    line-height: 85%;
    margin-top: -10px;
    font-weight: 200;
    width: 687px;
}

#bio-about {
    font-size: 4rem;
    font-style: normal;
    margin: 2rem;
    width: 90%;
    padding-bottom: 200px;
}

#design-practice{
    position: absolute;
    top: 110%;
    left: 35%;
    height: 1100px;
    font-size: 28.8px;
}

#design{
    border: #0000FF solid 1px;
    border-radius: 50%;
    width: 554px;
    height: 554px;
}

#computation{
    border: #0000FF solid 1px;
    border-radius: 50%;
    width: 554px;
    height: 554px;

    position: relative;
    top:-277px;
    left:-178px;
}

#psychology{
    border: #0000FF solid 1px;
    border-radius: 50%;
    width: 554px;
    height: 554px;

    position: relative;
    top:-831px;
    left:178px;
}


#cv{
    padding:40px;
    width: 80%;
    margin: auto;
    
}

#cv-bio{
    width: 70%;
}

#cv h1{
    font-size: 71.66px;
    font-weight: 200;
    margin-bottom: -20px;
}

#cv h2{
    font-size: 41.47px;
    font-weight: 200;
    margin-bottom: -20px;
    margin-top: 80px;
    padding-top: 40px;
    border-top: #0000FF solid 1px;
}

#cv p{
    font-size: 28.8px;
}

.grid-container-education{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
}

.grid-item{

}

#cv .grid-container-education p{
    font-size: 16.67px;
    padding-right: 80px;
}

a:visited{
    color: #0000FF;
}

a:hover{
    color: #FF00FF;
}

.grid-container-teaching{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 20px;
}

#cv .grid-container-teaching p{
    font-size: 16.67px;
    padding-right: 80px;
}

.grid-container-publications{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 20px;
}

#cv .grid-container-publications p{
    font-size: 16.67px;
    padding-right: 80px;
}


.grid-container-exhibition{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 20px;
}

#cv .grid-container-exhibition p{
    font-size: 16.67px;
    padding-right: 80px;
}
.grid-container-fellres{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 20px;
}

#cv .grid-container-fellres p{
    font-size: 16.67px;
    padding-right: 80px;
}


.grid-container-talks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 1rem;
}

#cv .grid-container-talks p{
    font-size: 16.67px;
    padding-right: 80px;
}

.current-work{
    margin: 3rem;
}

.current-work h1{
    font-size: 5.972rem;
    font-weight: 100;
}

.current-work h3{
    font-size: 2.986rem;
    font-weight: 200;
}

.past-work{
    margin: 3rem;
}

.past-work h1{
    font-size: 5.972rem;
    font-weight: 100;
}

.past-work-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2%;
}

.past-work-item{
    padding: 50px;
    border: #0000FF solid 1px;
}

.past-work-item h3{
    font-size: 2.073rem;
    font-weight: 200;
}

.past-work-item p{
    font-size: 1rem;
    font-weight: 100;
}

@media (max-width: 1400px){

    .current-work{
        width: 80%;
        margin: auto;
    }

    .past-work{
        width: 80%;
        margin: auto;
    }

    .past-work-container{
        display: block;
        width: 100%;
        margin: auto;
    }

    .past-work-item{
        margin-bottom: 1rem;
    }

}

@media (max-width: 600px) {

    #about {
        padding: 2rem;
        display: block;
        justify-content: flex-start;
    }
    
    #thoughts {
        border: #0000FF solid 1px;
        height: 653px;
        width: 380px;
        font-size: 20px;
    }
    
    #thought-1{
        position: relative;
        top: 175px;
        margin-left:85px;
        width: 292px;
        font-weight: 100;
    }
    #thought-2{
        position: relative;
        margin-left:15px;
        top: 210px;
        width: 189px;
    }
    
    #thought-3{
        position: relative;
        margin-left: 180px;
        top: 230px;
        right:0px;
        width: 184px;
    }
    
    #myhead {
        display: none;
    }

    #bio-about{
        font-size: 1.44rem;
        padding-bottom: 0px;
    }

    #design-practice{
        display: none;
    }

    .current-work{
        margin: 2rem;
    }

    .past-work{
        width: 90%;
        margin: auto;
    }

    .past-work-container{
        display: block;
        width: 100%;
    }

    .past-work-item{
        padding: 2rem;
        margin-bottom: 1rem;
    }
}