@font-face {
    font-family: Pentameter Regular;
    src: url(fonts/Pentameter-Wide-Regular-Trial.woff);
}

@font-face {
    font-family: Pentameter Italic;
    src: url(fonts/Pentameter-Wide-ThinItalic-Trial.woff);
}

@font-face {
    font-family: Pentameter Light;
    src: url(fonts/Pentameter-Wide-Light-Trial.woff);
}

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url(fonts/HelveticaNeue-Light.woff);
    src: url(fonts/HelveticaNeue-Light.woff2);
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url(fonts/HelveticaNeue-Bold.woff);
    src: url(fonts/HelveticaNeue-Bold.woff2);
}

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url(fonts/HelveticaNeue-Medium.woff);
    src: url(fonts/HelveticaNeue-Medium.woff2);
}

body{
    width: 500px;
    margin: auto;
    padding-top: 100px;
    background-color: #f1f1f1;
    color: black;
    font-family: 'Pentameter Regular';
    font-size: 16px;
}

.bold{
    text-decoration: underline;
}

.everything{
    text-align: left;
    position: relative;
}

.info{
    display: flex;
    gap: 2%;
}

.info p{
    margin: 0;
}


a{
    text-decoration: underline;
    color: black;
}

a:visited{
    color: black;
}

a:hover{
    font-style: italic;
}

ul{
    padding: 0;
}

a.button{
    display: inline-block;
    letter-spacing: 0.1px;
    border-radius: 8px;
    padding: 5px 7px;
    margin-left: -1%;
    transition: all ease 0.15s;
    margin-bottom: 3px;
}

a.button:hover{
    font-style: italic;
}

li{
    list-style: none;
}

h1{
    margin-bottom: 0.15em;
    margin-top: 0.05em;
}

h2{
    margin-bottom: 0.15em;
    margin-top: 0.05em;
}


.matter>li{
    padding-bottom: 0.75em;
}

.matter-item{
    padding-top: 50px;
}

.matter p {
    letter-spacing: normal;
}

.line {
    height: 12px;
    border-bottom: solid 1px black;
}


@media only screen and (max-width: 600px) {
    h1{
        padding-top: 25px;
        line-height: 3rem;
    }

    .labryinth{
        width: 100%;
    }

    .info{
        display: block;
        gap: 0%;
    }
    
    .info p{
        padding-top: 15px;
        margin: 0;
    }

    body{
        width: 400px;
        margin: auto;
    }
}