@font-face {
    font-family: Pentameter Regular;
    src: url(../../fonts/Pentameter-Wide-Regular-Trial.woff);
}

@font-face {
    font-family: Pentameter Italic;
    src: url(../../fonts/Pentameter-Wide-ThinItalic-Trial.woff);
}

@font-face {
    font-family: Pentameter Light;
    src: url(../../fonts/Pentameter-Wide-Light-Trial.woff);
}

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url(../../fonts/HelveticaNeue-Light.woff);
    src: url(../../fonts/HelveticaNeue-Light.woff2);
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url(../../fonts/HelveticaNeue-Bold.woff);
    src: url(../../fonts/HelveticaNeue-Bold.woff2);
}

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url(../../fonts/HelveticaNeue-Medium.woff);
    src: url(../../fonts/HelveticaNeue-Medium.woff2);
}

body{
    font-family: 'Pentameter Regular';
    font-size: 20px;
    background: #F1F1F1;
    color: #0000FF;
}


a{
    text-decoration: none;
}

a:visited{
    color: #0000FF;
}

a:hover{
    color: #FF00FF;
}

li :visited{
    color: #0000FF;
}

li :hover{
    color: #FF00FF;
}

main{
    width: 100%;
    margin: 0px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#grid-container{
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(3, 220px);
    grid-gap: 20px;
}

.grid-item{
    /* border: #0000FF 1px solid; */
    height: 10em;
    margin: 10px 0px;
}


p {
    margin: 0px;
}

#details{
    height: 100%;
    width: 600px;
    margin: 10px 20px;
}

#details p {
    font-family: 'Helvetica Neue Light';
    font-size: 2rem;
    padding: 20px;
}

@media(max-width: 600px){
    #grid-container{
        display: block;
        
    }

    .grid-item{
        margin-bottom: 10px;
    }
}

@media(max-width: 1200px){

    .grid-item{
        margin: 20px 0px;
    }
}