body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

header{
    width: 100%;
    margin: auto;
    height: 200px;
    background-color: yellowgreen;
}

#container{
    width: 90%;
    margin: auto;
}

h1{
    font-size: 42px;
}

p{
    font-size: 18px;
}

a {
    color: rgb(255, 0, 111);
}


ul{
    list-style: none;
    padding:0;
}

/* desktop */

@media only screen and (min-width: 600px) {
  
    header{
        width: 60%;
        height: 300px;
    }
    
    #container{
        width: 60%;
        margin: auto;
    }
    
    h1{
        font-size: 72px;
        margin: 20px;
    }
    
    p{
        font-size: 18px;
        margin: 20px;
    }
    
    h2{
        margin: 20px;
    }

    ul{
        margin: 20px;
    }
    
    #units{
        display: flex;
        flex-direction: row;
    }
    
    #units p {
        margin: 20px;
    }
  
}