body{
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-size: 1rem;
    background: #F1F1F1;
    color: #0000FF;
    margin: 0px;
    padding: 0px;
}


nav ul {
    display: flex;
    list-style: none;
    padding: 0px;
}

nav ul li{
    padding: 1rem;
}

a{
    font-family: 'EB Garamond', serif;
    text-decoration: none;
}
li :visited{
    color: #0000FF;
}

li :hover{
    color: #FF00FF;
}


section{
    width: 60%;
    margin: auto;
}

article{
    padding-top: 10%;
}

h1 {
    font-size: 5.972rem;
    font-weight: 100;
}

h1 a {
    font-size: 86px;
    font-weight: 100;
}

h2, h3{
    font-size: 41.47px;
    font-weight: 100;
}

a{
    text-decoration: none;
}

a:hover{
    color: #FF00FF;
}

p{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

p a {
    font-weight: 700; 
    font-size: 1.44rem; 
    font-style: bold; 
    color: #FF00FF;
    font-family: 'Roboto Mono', monospace;
}

p a:hover{
    color:#F1F1F1;
}

li{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

#isea-paper{
    width: 100%;
    background-color: #0000FF;
    padding-bottom: 200px;
}

#isea-paper article{
    width: 60%;
    margin: auto;
    color: #F1F1F1;
}


@media (max-width: 600px){
    section{
        width: 90%;
        margin: auto;
    }

    #isea-paper article{
        width: 90%;
        margin: auto;
        color: #F1F1F1;
    }

    h1 {
        font-size:3rem;
    }
}