@font-face {
    font-family: "Neue Machina Regular";
    src: url("fonts/NeueMachina-Regular.woff2") format("woff2"),
        url("fonts/NeueMachina-Regular.woff") format("woff");
}

@font-face {
    font-family: "Neue Machina Light";
    src: url("fonts/NeueMachina-Light.woff2") format("woff2"),
        url("fonts/NeueMachina-Light.woff") format("woff");
}

@font-face {
    font-family: "Neue Machina Ultralight";
    src: url("fonts/NeueMachina-Ultralight.woff2") format("woff2"),
        url("fonts/NeueMachina-Ultralight.woff") format("woff");
}

@font-face {
    font-family: "Neue Machina Black";
    src: url("fonts/NeueMachina-Black.woff2") format("woff2"),
        url("fonts/NeueMachina-Black.woff") format("woff");
}

@font-face {
    font-family: "Neue Machina Ultrabold";
    src: url("fonts/NeueMachina-Ultrabold.woff2") format("woff2"),
        url("fonts/NeueMachina-Ultrabold.woff") format("woff");
}


body{
    font-family: 'Neue Machina Regular', monospace;
    font-size: 1.5em;
    line-height: 1.5em;
    display: grid;
    grid-template-columns:  minmax(min-content, 30%) 1fr;
    height: 100vh;
    color: #ffffff;
    background: #000000;
}
header{
    padding: 1.5em;
    position: fixed;
    width: 50%;
}

main{
    
}

div{
    border: 1px solid #ffffff;
    height: 400px;
    padding: 3em;
}

section{
    position: absolute;
    width: 50%;
    right: 0px;
}
ul{
    margin: 0%;
    padding: 0%;
}
li{
    list-style: none;
}

a{
    color: #ffffff;
}

a:hover{
    color: aqua;
}

#info-container{
    width: 80%;
    margin: auto;
}
@media (max-width: 1200px){
    body{
        display: block;
    }

    section{
        position: static;
        width: 100%;
    }

    header{
        position: static;
        width: 100%
    }
}