/**************************
RESET to ensure user agent padding and 
margin on elements do not affect layout.

Note this reset is not appropriate for
production websites.
***************************/

* {margin: 0; padding: 0;}

body{
	font-family: Arial;
	color: #333;
	background-color: #E2E2E2;
}

#page{
	width: 1000px;
	margin: auto;
	color: #333;
	background-color: #E2E2E2;
}

header, footer{
	padding: 50px;
	background-color: aliceblue;
	text-align: center;
}

#container{
	background-color: beige;
	min-height: 500px;
}
div{
	background-color: #E58F3F;
	padding: 20px;
}

div:nth-child(even){
	background-color: #E8AF79;
}


