body{
    font-family: Arial, sans-serif;
}

header{

    width: 70%;
    margin: auto;
    height: 200px;

    background-color: rgb(167, 142, 206);
    border: blue solid 1px;

    margin-bottom: 100px;
}

#container {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px;
}

.plant {
    /* background-color: aquamarine;
    border: blue solid 1px; */
    padding: 10px;

    height: 200px;
}

footer{

    width: 70%;
    margin: auto;
    height: 100px;

    background-color: rgb(167, 142, 206);
    border: blue solid 1px;

    margin-top: 100px;
}
