@font-face {
    font-family: "Neue Machina Regular";
    src: url("../fonts/NeueMachina-Regular.woff2") format("woff2"),
        url("../fonts/NeueMachina-Regular.woff") format("woff");
}

@font-face {
    font-family: "Neue Machina Light";
    src: url("../fonts/NeueMachina-Light.woff2") format("woff2"),
        url("../fonts/NeueMachina-Light.woff") format("woff");
}

@font-face {
    font-family: "Neue Machina Ultralight";
    src: url("../fonts/NeueMachina-Ultralight.woff2") format("woff2"),
        url("../fonts/NeueMachina-Ultralight.woff") format("woff");
}

@font-face {
    font-family: "Neue Machina Black";
    src: url("../fonts/NeueMachina-Black.woff2") format("woff2"),
        url("../fonts/NeueMachina-Black.woff") format("woff");
}

@font-face {
    font-family: "Neue Machina Ultrabold";
    src: url("../fonts/NeueMachina-Ultrabold.woff2") format("woff2"),
        url("../fonts/NeueMachina-Ultrabold.woff") format("woff");
}


body{
    font-family: 'Neue Machina Regular', monospace;
    font-size: 1.5em;
    line-height: 1.5em;
    height: 100vh;
    color: #ffffff;
    background: #000000;
}
section{
    width: 80%;
    margin: auto;
    border: #ffffff 1px solid;
    text-align: center;
    margin-top: 5%
}
p{
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    margin: auto;
    text-align: justify;
}

h1{
    padding-top: 10%; 
    font-size: 5rem
}

h2{
    padding-top: 10%; 
    font-size: 3rem
}

h3{
    padding-top: 2.5%; 
    font-size: 2rem
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 100;
    margin: auto;
    text-align: left;
}
li{
    list-style:circle;
}

a{
    color: #ffffff;
}

a:hover{
    color: aqua;
}

code {
    background-color: white;
    color: black;
    border-radius: 0.3rem;
    padding: 4px 5px 5px;
    white-space: nowrap;
}

@media (max-width: 700px){
    body{
        display: block;
    }

    section{
        position: static;
        width: 100%;
    }

    header{
        position: static;
        width: 100%
    }
}