/* RGB 191, 15, 112
RGB 217, 17, 147
RGB 27, 2, 115
RGB 242, 206, 22
RGB 242, 178, 99 */

body{
    background-color: rgb(27,2,115);
    font-family: 'Inconsolata', monospace;
}

#container{
    margin: auto;
    width: 600px;
    background-color: white;
    min-height: 600px;
}


header{
    height: 200px;
    background-color: rgb(217, 17, 147);
}

h2{
    color: rgb(191, 15,112);
    background-color: rgb(242, 206, 22);
    width: 200px;
    text-align: center;
}

h3{
    color: rgb(191, 15,112);
    background-color: rgb(242, 206, 22);
    width: 120px;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(27,2,115);
}

ol{
    list-style: none;
}

ul{
    list-style: none;
}

ol :hover{
    color: rgb(27, 2, 115);
    background: rgb(217, 17, 147);
}

ul :hover{
    color: rgb(27, 2, 115);
    background: rgb(217, 17, 147);
}

aside{
    margin: auto;
    width: 200px;
}

section{
    margin: auto;
    width: 200px;
}

footer{
    padding: 25px 0px 25px 50px;
    margin: auto;
    width: 800px;
    font-size: 12px;
    display: flex;
}

footer p{
    padding: 0px 25px 0px 25px;
}