

body{
    width: 60%;
    margin: auto;
    font-family: 'IBM Plex Mono', monospace;
    background-color: black;
    color: white;

}

nav{
    position: fixed;
    top: 20px;
    left: 20px;
}

h1{
    margin: 0;
}

.slide-container{
    
}

.slide-item{
    margin: 100px 0px;
    border: 1px white solid;
    width: 100%;
    height: 800px;
}

.slide-content{
    margin: 100px;
    /* border: 1px black solid; */
    height: 600px;
}

.flora{
    display: flex;
}

.flora pre{
    width: 100;
    background-color: transparent;
}

code{
    background-color: #dedcdc;
    padding: 3px 7px;
    color: black;
}

#html-is-like{
    font-size: 50px;
}

#blue{
    color: rgb(0, 83, 250);
}

#magenta{
    color: magenta;
}

a{
    color: limegreen;
    font-size:36px; 
    text-decoration: none;
}

a:hover{
    color: aqua;
    font-style: italic;
}

#hover-box{
    background-color: aquamarine;
    height: 100px;
}

#hover-box:hover{
    background-color: rgb(255, 30, 0);
}

#background-image{
    height: 200px;
    width: 200px;
    background-image: url(../../images/cat.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#background-image:hover{
    background-image: url(../../images/bearhug.png);
}

#red{
    color: red;
}

#pink{
    color: hotpink;
}

.container{
    width: 50%;
    margin: auto;
}

#swan {
    position: relative;
    top: -200px;
    left: 1050px;
}

.normal-container{
    display: block;
}

.normal-item{
    width: 200px;
    height: 100px;
    margin: 10px;
    background-color: pink;
}

.flex-container{
    display: flex;
}

#flex-item{
    width: 200px;
    height: 100px;
    background-color: pink;
    margin: 0px 10px;
}

.grid-container{
    display: grid;
    grid-template-columns: 100px 200px 1fr;
    grid-template-rows: 100px 100px 1fr;
}

