body{
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.unit{
    width: 12%;
    height: 100px;
    background-color: magenta;
    margin: 10px;
}

.day{
    width: 12%;
    height: auto;
    background-color: white;
    margin: 10px;
}

.blank{
    background-color: white;
}