body{
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-size: 20px;
    background: #F1F1F1;
    color: #0000FF;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0px;
}

nav ul li{
    padding: 20px;
}

h1{
    font-size: 5.972rem;
    font-weight: 100;
}


h2{
    font-size: 2.073rem;
    font-weight: 500;
}

time{
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    font-weight: 200;
}

a{
    text-decoration: none;
    font-style: bold;
}

a:hover{
    color: #FF00FF;
}

p a:hover{
    color: #FF00FF;
}


a:visited{
    color: #0000FF;
}

p{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 1rem;
}
li :visited{
    color: #0000FF;
}

li :hover{
    color: #FF00FF;
}

main{
    width: 50%;
    min-width: 600px;
    margin: auto;
}

#container{
    display: flex;
    gap: 10%;
}

#main-post{
    flex: 1 1 0;
}

.posts{
    flex: 1 1 0;
    display: flex;
    gap: 5%;
    margin-bottom: 10%;
}

.post-img{
    border:#0000FF solid 1px;
    width: 70px;
    height: 50px;
}

.posts h2{
    font-weight: 500;
    font-size: 1.44rem;
    margin: 0px;
    padding-top: 2%;
}

.posts h2:hover{
    color: #FF00FF;
}

#prev-next{
    display: flex;
    justify-content: space-between;
}

@media(max-width: 600px){
    main{
        width: 95%;
        margin: auto;
        min-width: 0px;
    }

    #container{
        display: block;
    }

    .posts{
        margin-bottom: 2%;
    }
}
