body {
height: 95vh;
width: auto;
/* background-image: url(img/bg\weep.gif); */
/* background-size:400%; */
background-image: url(img/bg\ background.gif);
animation-duration: 60s;
min-width: 500px;
flex-direction: column;

}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap:nowrap; */
    /* justify-content: center; */
}

#logo {
    /* mix-blend-mode:soft-light; */
    opacity: 50%;
    width: 5%;
    height: auto;
    margin-bottom: 1em;
    visibility:hidden
}

#logobeeg {
    mix-blend-mode:overlay;
    /* opacity: 89%; */
    width: 55%;
    height: auto;
    margin-bottom: 1em;
    position: relative;
    margin-top: 7.5%;
    margin-left:20%;

    /* box-shadow: 0px 0px 40px 20px rgb(192, 243, 215); */

    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

#frame {
    border: 2vh solid #0D0D14;
    width: 33%;
    height: auto;
}

#peanut {
  width:100%;
}

span {
font-family: "lores-12", sans-serif;
font-weight: 900;
font-style: normal;
color: aliceblue;
/* animation:jitter2 400ms linear infinite;display:inline-block; */
/* animation: glitch1 2.5s infinite; */
/* animation: glitch2 2.5s infinite;
animation: glitch3 2.5s infinite; */


}
#textbox {
    width: 37%;
    height: auto;
    
    margin-top: 1.5em ;
    margin-bottom: 3em;
    display: hidden;
    background-color: #0D140D;
    padding: 1.5em;
}

b {
 color: #A53638;
}

#blinker {
  opacity: 10%;
  width: 3em;
  height: auto;
  margin-bottom: -1em;
}

/* #trans {
  position: absolute;
  width:200vh;
  height: auto;
  z-index: 10;
  mix-blend-mode: overlay;
  animation: transA .5s ease-out 0s 1 none running linear;
} */


/* hover effects */
img:hover {
	transform: scale(1.02);
	transition: ease-in-out;
	transition-duration: .2s;
}

/* span:hover {
	transform: scale(1.02);
	transition: ease-in-out;
	transition-duration: .5s;
    display:block;

    animation:jitter2 400ms linear infinite;display:inline-block;
} */

#blinker:hover {
  animation: blink 1.5s infinite;
  transform: scale(1.02);
  transition:none;
}

@keyframes blink {  0%{opacity: 10%;} 50%{opacity:50%} 100%{opacity: 10%;}}
@keyframes transA {0%{opacity:100%;}99%{opacity: 0%;}100%{display: none;}} 


#landing {
  background-image: url(img/static.gif);
  background-size: cover;
}

#logobeeg:hover {
	transform: scale(1.1);
	transition: ease-in-out;
	transition-duration: .2s;
}






/* https://codepen.io/zerospree/pen/GRmBga */
.jittery { 
    animation:jitter 1000ms linear infinite;display:inline-block}

    .jitteryslow { 
        animation:jitter 4200ms linear infinite;display:inline-block}

@keyframes jitter{ 50%{transform:skewY(0.1.5deg) skewX(-0.1.5deg) scale(1.006);} }

@keyframes jitter2{ 50%{transform:skewY(0.3deg) skewX(-0.3deg) scale(1.006);} }






/* https://codepen.io/punkydrewster713/pen/zYKdywP */

/* .text span {
    opacity: 0;
    color: aliceblue;
 }
 .text span.revealed {
    opacity: 1;
 }
 .text span.green {
    color: #27ae60;
 }
 .text span.red {
    color: #ff0000;
 } */






 /* https://codepen.io/jjsoini/pen/vyzNGa */

 /* .fade {
    transition: all 0.6s;
  }
  .fade.out {
    opacity: 0;
    transform: translateY(20px);
  }
  .flow {
    transition: all 0.8s;
  }
  .flow.out {
    opacity: 0;
  }

  .flowcontent {
    position: relative;
  }
  .flowcontent:before {
    display: table;
    content: '';
    width: 1px;
    height: 1200px;
  }
   */

  /* https://kasper.io/How-to-create-transition-effect-between-pages/ */
  .animate-in {
    -webkit-animation: fadeIn 1s ease-in;
    animation: fadeIn 1s ease-in;
}

.animate-out {
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* https://codepen.io/geoffgraham/pen/jrWwWM */






/* span:nth-child(2) {
  color: #00ff4c;
  animation: glitch2 2.5s infinite;
}

span:nth-child(3) {
  color: hsl(288, 100%, 19%);
  animation: glitch3 2.5s infinite;
}



@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
} */



.glitch {
  opacity: 33%;
  animation: glitch .5s infinite; animation-delay: 5s,  delay-animation 5s linear infinite;
}


.glitch:hover {
  
  animation-play-state: paused;
  opacity: 100%;
}

@keyframes glitch {
  0%,50%,100%{
  transform: skewX(0deg) translateX(0px) scale(1,1);
	  text-shadow: 0px 0 rgb(0, 255, 76);
    clip-path: none;
    
  }
  5%,15%,25%{
  transform: skewX(12deg) translateX(-5px) scale(1,-1);
	   text-shadow: 0px -2rem rgb(245, 4, 16), -5px 5px #032905;
    
  }
  10%,30%{
  transform: skewX(25deg) translateX(15px) scale(1,1);
	  text-shadow: -1rem 2rem rgb(92, 33, 77);
	  
  }
  35%,45%{
  transform: skewX(-12deg) translateX(-5px) scale(1,1);
	  text-shadow: -1rem 2rem #fe0000, -10px 0px #23702d;
    
  }
  11%, 14% {
    clip-path: polygon(100% 0, 0 18%, 99% 46%, 0 78%, 100% 100%, 100% 57%, 0 100%, 100% 76%, 0 59%, 100% 35%, 0 37%, 100% 21%);
  }
  12%, 16% {
    clip-path: polygon(0 51%, 0 29%, 100% 0, 0 14%, 99% 57%, 100% 23%, 0 100%, 100% 72%, 0 0, 100% 100%);
  }
  13%, 17% {
    clip-path: polygon(0% 0%, 99% 0%, 99% 8%, 0% 7%, 0% 14%, 99% 15%, 100% 22%, 0% 22%, 0% 30%, 99% 30%, 99% 39%, 0% 37%, 0% 43%, 100% 45%, 100% 50%, 0% 49%, 0% 56%, 99% 57%, 99% 63%, 0% 63%, 0% 68%, 99% 68%, 99% 75%, 0% 76%, 0% 81%, 100% 83%, 100% 89%, 0% 88%, 0% 94%, 100% 95%, 100% 100%, 0% 99%);
  }
}


@keyframes delay-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



.bb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 33v rgba(0,0,0,0.9) inset;
}

img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50px); }
}