body {
	padding: 20px;
	font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
}

* {box-sizing: border-box;}

p {
	margin: 0 0 1em 0;
}

.container {
	margin: auto;
	width: 800px;
	border: 5px solid rgb(111,41,97);
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr 2fr 100px;
	grid-gap: 20px;
}

.container > div {
	padding: 10px;
	background-color: rgba(111,41,97,.3);
	border: 2px solid rgba(111,41,97,.5);
}

.container > div:nth-child(3n+1) {
	background-color: rgba(193,225,237,.3);
	border: 2px solid rgba(193,225,237,.5);
	grid-row-end: span 2;
}

}