
body{
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-size: 20px;
    background: #F1F1F1;
    color: #0000FF;
}


nav ul {
    display: flex;
    list-style: none;
    padding: 0px;
}

nav ul li{
    padding: 20px;
}

a{
    text-decoration: none;
}
li :visited{
    color: #0000FF;
}

li :hover{
    color: #FF00FF;
}

#container{
    width: 100%;
    margin: auto;
}