@media only screen and (min-width: 600px){
    body{
        font-family: 'EB Garamond', serif;
        font-style: italic;
        font-size: 30px;
        background: #F1F1F1;
        color: #0000FF;
    }

    #container{
        padding-top: 400px;
        width: 200px;
        margin: auto;
    }

    a{
        text-decoration: none;
    }

    li{
        list-style: none;
    }

    a:visited{
        color: #0000FF;
    }
}