body {
	padding: 20px;
	font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
}

* {box-sizing: border-box;}

p {
	margin: 0 0 1em 0;
}

.container {
	margin: auto;
	width: 800px;
	border: 5px solid rgb(111,41,97);
	padding: 10px;
	
}

.container > div {
	padding: 10px;
	background-color: rgba(111,41,97,.3);
	border: 2px solid rgba(111,41,97,.5);
}